html,
body {
}

#t {
  margin: 10px;
  text-align: center;
  font-size: 32pt;
}

.separator {
  float: left;
  height: 150px;
  border-left: 2px solid;
}

#counter {
  margin: 30px auto;
  width: 306px;
  height: 150px;

  overflow: hidden;

  border-top: 10px solid #555555;
  border-left: 10px solid #333333;
  border-right: 10px solid #222222;
  border-bottom: 10px solid #111111;
  border-spacing: 0;
  border-radius: 8px;
}

ul {
  text-align: center;
  list-style: none;
  float: left;
  -webkit-user-select: none;

  font-family: 'Droid Sans';

  font-size: 125px;
  width: 75px;
  line-height: 150px;

  margin: 0px;
  padding: 0px;

  position: relative;
}

#buttons {
  text-align: center;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  -webkit-user-select: none;

  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  background-color: #ddd;

  font-size: 33px;
  text-align: center;

  cursor: pointer;
}

.button:hover {
  position: relative;
  top: 1px;
  left: 1px;
}

.button:active {
  background-color: #bbb;
}

.copy {
  -webkit-animation-name: copy;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes copy {
  0% {
    background-color: #f0e68c;
  }
  100% {
    background-color: #ffffff;
  }
}

footer {
  margin-top: 10px;
}

#footer-buttons {
  display: flex;
  justify-content: center;
}

#footer-messages {
  display: flex;
  justify-content: center;
  opacity: 0.3;
}

#donate {
  cursor: pointer;
  opacity: 0.3;
}
